* {
	
	font-family: 'Roboto', sans-serif;
}


body {

background-color: #f0f0f0;
margin-bottom: 70px;

}

/* BOTTONI */

.btn-primary {
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #000000;
    
    }
    
  

.btn-primary:hover {
    
    background-color: #0d6efd;
    border-color: #000000;
    box-shadow: inset 6.5em 0 0 #f51400eb;
    
    }


.headBarHome{
    text-align: center;
    font-size: xxx-large;
    font-family: Copperplate, fantasy;
    font-weight: bold;
    background-color: #f80000;
    float: left;
    width: 100%;
    height: 15%;
    border-bottom: 10px solid darkred;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
}

.navbar{
    font-size: medium;
    font-family: serif;
    float: left;
    width: 100%;
    border-bottom: 4px solid darkred;
}

/* BOTTONE NAVBAR PER SCHERMI PICCOLI */

.navbar-toggler {
    margin-left: 750px;
    
    }

.greeting{
	float: left;
    color: black;
    border-right: 3px solid darkred;
    border-left: 3px solid darkred;
}

.log{
	float: right;
	padding: 2%;
	background-color:#f8f8f8;
	color: darkred;
	font-weight: bold;
	border: none;
	border-left: 3px solid darkred;
	border-right: 3px solid darkred;
}

.log:hover{
	float: right;
	padding-left: 3%;
	padding-right: 3%;
	background-color:darkred;
	color: #f8f8f8;
}

.headBar{
    text-align: center;
    font-size: xxx-large;
    font-family: serif;
    font-weight: bold;
    background-color: #f80000;
    float: left;
    width: 100%;
    height: 22%;
    border-bottom: 10px solid darkred;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
}


/* BOTTONI NAVBAR PER SCHERMI DIMENSIONE MEDIO-PICCOLA */


.navbar-collapse{
	
	margin-left:633px;
	
	
}


.menu{
	text-align: center;
    font-size: medium;
    font-family: serif;
    float: left;
    width: 100%;
    margin-top: 5%;
}

.menu ul {
  list-style-type: none;
  overflow: hidden;
}

.menu ul li {
  float: left;
  width: 20%;
  padding-top:5%;
  padding-bottom: 5%;
  margin-left: 6%;
  margin-right: 6%;
  background-color: red;
  /* AGGIUNTA QUESTA */
  margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 50px;
}

.menu ul li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 5%;
  position: relative;
}

/* Change the link color to #111 (black) on hover */
.menu ul li:hover{
  background-color: darkred;
}

.menu ul li:hover > a{
  font-size: large;
}

.menu ul li:hover > a::after{
  animation-name: moveLine;
  animation-duration: 1s;
}

.menu ul li:hover > a::before{
  animation-name: moveLineB;
  animation-duration: 1s;
}

.menu ul li a::after{
    content: '';
    width: 80%;
    height: 5%;
    background: white;
    position: absolute;
    bottom: 0%;
    left: 10%;
    display: block;
}

.menu ul li a::before{
    content: '';
    width: 0%;
    height: 5%;
    background: white;
    position: absolute;
    top:97%;
    left: 10%;
    display: block;
}

@keyframes moveLine {
  0%   {width:80%; left:10%;}
  60%  {width:0%; left:90%;} 
  100% {width:0%; left:90%;}
}

@keyframes moveLineB {
  0%   {width:0; left:10%;}
  100% {width:80%; left:10%;}
}

/* COLORE SCRITTA QUADRATI HOVER */

.nav-link:focus, .nav-link:hover {
    color: #5a9dff;
}


.spiegazione{
	float: left;
	width: 40%;
	border-right: 1px solid darkred;
	color: white;
	background-color: orangered;
	text-align: center;
	min-height: 35%;
}

.sottotitoloPagina{
	font-size: large;
	font-family: sans-serif;
	padding: 3%;
	font-weight: bold;

}

.descrizione{
	margin-top:20%;
	margin-bottom:20%;
	font-size: medium;
	font-style: italic;
}

.descrizione ul{
	text-decoration: none;
	text-align: left;
}

.descrizione ul li{
	text-decoration: none;
}

.inputUtente{
	margin-top: 5%;
    float: left;
    width: 40%;
    background-color: #f83e3e;
    border-radius: 5%;
    padding: 20px;
	
}

.formSigla{
	float:left;
	min-width: 60%;
	margin-top:10%;
	margin-bottom:10%;
	margin-left:20%;
	margin-right: 20%;
}

.enumMarchio{
	float: left;
	min-width: 100%;
	margin-bottom: 5%;
	background-color: #f8f8f8;
}

.inputSigla{
	float:left;
	min-width: 100%;
	margin-bottom: 5%;
	background-color: #f8f8f8;
}

.formLabel{
	font-weight: bold;
	margin-bottom: 5%;
	text-align: center;
}


/* MODIFICATO QUESTO */
.creaButton {
    margin-left: 10%;
    text-align: center;
    min-width: 34%;
    font-weight: bold;
}

.creaButton:hover{
	background-color: darkred;
	color: white;
}

.result{
	width: 50%;
    float: left;
    text-align: center;
    font-size: large;
    color: #f83e3e;
    margin-top:5%;
    margin-left:10%;
    border-radius: 5%;
    font-weight: bold;
}

.resultViewTreno{
	width: 30%;
    float: left;
    text-align: center;
    font-size: large;
    color: #f83e3e;
    margin-top:5%;
    margin-left:10%;
    border-radius: 5%;
    font-weight: bold;
}

.viewVagoni{
	width: 10%;
    float: left;
    text-align: center;
    font-size: large;
    color: #f83e3e;
    margin-top:5%;
    margin-left:5%;
    border-radius: 5%;
    font-weight: bold;
}

.resultViewTreno ul{
	text-align: left;
}

.result ul{
	text-align: left;;
}

.listaInfo{
	list-style-type: none;
	margin-top: 5%
}

.ordiniResult{
	width: 100%;
    float: left;
    font-size: large;
    color: #f83e3e;
    margin-top:5%;
    font-weight: bold;
}

/* Footer */
        .footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 70px;
            background-color: #f8f9fa;
            text-align: center;
            padding: 20px;
            border-top: 2px solid red;
        }